.gallery {
  overflow: hidden;
  &Logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    @media(max-width: 1400px){
      margin-top: 30px;
    }
    @media(max-width: 991px){
      margin-top: 15px;
    }
    @media(max-width: 575px){
      width: 50px;
    }
  }
  &Slider {
    margin-top: 80px;
    @media(max-width: 1400px){
      margin-top: 35px;
    }
    @media(max-width: 991px){
      margin-top: 20px;
    }
    @media(max-width: 575px){
      padding-right: 80px;
      overflow: visible;
    }
  }
  &Slide {
    height: auto;
    img {
      height: 440px;
      width: 100%;
      object-fit: cover;
      object-position: top;
      @media(max-width: 1400px){
        height: 260px;
      }
      @media(max-width: 1199px){
        height: 200px;
      }
      @media(max-width: 991px){
        height: 223px;
      }
      @media(max-width: 767px){
        height: 180px;
      }
      @media(max-width: 575px){
        height: 50vw;
      }
    }
  }
}