// Header
.header {
  &W {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 17px;

    @media(max-width: 1400px) {
      padding-top: 17px;
    }

    @media(max-width: 991px) {
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }

  &Nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;

    @media(max-width: 991px) {
      display: none;
      top: 96px;
      position: fixed;
      width: 100%;
      left: 0;
      background-color: #000;
      z-index: 1;
      justify-content: center;
      padding-bottom: 40px;
    }

    &.active {
      display: flex;
      flex-direction: column;
      -webkit-animation: shows 0.5s;
      animation: shows 0.5s;

    }

    &List {
      display: flex;
      column-gap: 45px;

      @media(max-width: 1400px) {
        column-gap: 30px;
      }

      @media(max-width: 1199px) {
        column-gap: 20px;
      }

      @media(max-width: 991px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
      }

      li {
        a {       
          font-weight: 500;
          transition: color .2s linear;

          &:hover {
            color: rgb(226, 54, 14);
          }
        }
      }
    }
    .headerPhone {
      @media(max-width: 991px){
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &Contacts {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    display: flex;
    column-gap: 43px;
    justify-content: flex-end;
  }

  &Logo {
    margin-right: 20px;
    margin-left: 20px;

    @media(max-width: 991px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &Address {
    text-transform: uppercase;
    transition: color .2s linear;

    &:hover {
      color: rgb(226, 54, 14);
    }

    @media(max-width: 991px) {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 10px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      border-color: transparent;
    }
  }

  &Phone {
    transition: color .2s linear;

    &:hover {
      color: rgb(226, 54, 14);
    }

    @media(max-width: 991px) {
      text-align: center;
      width: fit-content;        
    }
  }

  &Socials {
    &Line {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0;
    }

    &W {
      display: flex;
      align-items: center;
      column-gap: 17px;
    }
  }
}